* {
  margin: 0;
  padding: 0;
}

p {
  color: #000000;
  font-size: 11px;
}

button {
  color: #FFFFFF;
  font-size: 11px;
}

.heading-text {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.header-image {
  background-image: url("../img/sample2.jpg");
  background-position: center;
  background-size: cover;
}

.header-wrap {
  padding: 30px 45px 80px 45px;
}

a {
  color: #FFFFFF;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 1px;
}

.header-logo-sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 130px;
}

.landing-logo {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.sign-buttons a {
  padding-left: 25px;
}

.company-name {
  text-align: center;
  margin-bottom: 150px;
}

.header-heading {
  color: #FFFFFF;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.header-heading span {
  font-size: 60px;
}

.header-text {
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 0;
}

#brand-text {
  text-transform: capitalize;
}

.header-main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
}

.header-main-nav li {
  padding: 0 7%;
}

.header-main-nav li a {
  display: block;
  padding: 12px 45px;
  text-decoration: none;
  border: solid 1px #FFFFFF;
}

.header-text-block {
  background: linear-gradient(to top right, #F3F3F3 49.8%, #000000 50%);
}

.header-block {
  display: flex;
  flex-direction: column;
  padding: 20px 45px;
}

.header-block p:nth-child(1) {
  align-self: flex-end;
  width: 52%;
  margin-bottom: 50px;
  color: #FFFFFF;
}

.header-block p:nth-child(2) {
  align-self: flex-start;
  width: 35%;
  padding: 5px;
  font-size: 14px;
}

.section-main {
  background-color: #F3F3F3;
}

.article-header {
  text-align: center;
  margin-bottom: 20px;
}

.section-featured-articles {
  margin-bottom: 40px;
  padding: 20px 45px;
}

.featured-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featured-item,
.featured-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-item {
  padding: 15px;
  width: 46%;
}

.featured-info {
  padding: 15px 0;
  width: 50%;
}

.featured-item-1,
.featured-item-2 {
  position: relative;
  z-index: 3;
}

.featured-item-1::after,
.featured-item-2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(transparent, rgba(0, 0, 0, .4));
}

.featured-info p {
  width: 88%;
  margin: 15px 0;
}

.align-left p {
  align-self: flex-start;
}

.align-right p {
  align-self: flex-end;
}

a.likes {
  align-self: flex-end;
  background: rgba(0, 0, 0, .5);
  letter-spacing: normal;
  border: solid 1px #FFFFFF;
  padding: 4px 8px;
}

.featured-info {
  color: #FFFFFF;
  overflow: hidden;
  text-align: center;
}

.featured-item-1 {
  background-image: url("../img/sample-1.jpg");
  background-position: center;
  background-size: cover;
}

.featured-item-2 {
  background-image: url("../img/sample-2.jpg");
  background-position: center;
  background-size: cover;
}

.location {
  font-size: 11px;
  color: #F0F0F0;
}

.section-news {
  background-color: #FFFFFF;
  padding-bottom: 20px;
  width: 100%;
}

.news-wrap {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  width: 15%;
  height: 200px;
  padding: 15px;
}

.news-item p {
  align-self: flex-start;
}

.news-item-1 {
  background-image: url("../img/news-list-1.jpg");
  background-position: left;
  background-size: cover;
}

.news-item-2 {
  background-image: url("../img/news-list-2.jpg");
  background-position: left;
  background-size: cover;
}

.news-item-3 {
  background-image: url("../img/news-list-3.jpg");
  background-position: left;
  background-size: cover;
}

.news-item-4 {
  background-image: url("../img/news-list-4.jpg");
  background-position: left;
  background-size: cover;
}

.news-item-1,
.news-item-2,
.news-item-3,
.news-item-4 {
  position: relative;
  z-index: 3;
}

.news-item-1::after,
.news-item-2::after,
.news-item-3::after,
.news-item-4::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(transparent, rgba(0, 0, 0, .5));
}

.explore-button {
  background: rgba(9, 119, 116, .8);
  border: none;
  font-stretch: expanded;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

.news-button {
  display: block;
  padding: 10px 65px;
  margin: 15px auto;
}

.section-subscribe-button,
.news-button {
  background-color: #097774;
  border: solid 2px #097774;
}

.section-banner {
  padding: 35px 15px;
  font-size: 18px;
}

.section-banner-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner-text {
  margin-bottom: 15px;
}

.subscribe-header {
  margin-right: 20px;
}

.section-enter-button {
  background-color: transparent;
  border: solid 1px #000000;
  text-decoration: none;
  padding: 4px 25px 4px 5px;
  margin-right: 10px;
}

.section-enter-button {
  color: #000000;
}

.section-subscribe-button {
  padding: 4px 5px;
  margin-right: 10px;
}

footer {
  background-color: #FFFFFF;
}

.footer-wrap {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.footer-cr {
  color: #9E9E9E;
  font-size: 11px;
}

.footer-nav {
  margin: 0 0 0 auto;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}

.footer-nav li a {
  color: #000000;
  letter-spacing: normal;
  display: block;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
}
